/* header */
.logo-link {
    width: 20%;
}

.logo-link a img {
    width: 100%;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    border-radius: 3px;
}

.link-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 16px;
}

.link-list li {
    margin-left: 20px;
}

.link-list a {
    text-decoration: none;
    color: #fff;
}

.link-list .put-up {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    padding: 5px 15px;
}

/* body */
.main-board {
    width: 85%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}

.image-board {
    width: 40%;
    text-align: center;
    background-color: #ddd;
}

.image-board img {
    width: 100%;
}

.description-board {
    width: 50%;
    font-size: 14px;
}

.item-name {
    font-size: 24px;
    font-weight: bold;
}

.brand {
    margin: 20px 0;
    font-size: 16px;
}

.price {
    margin: 20px 0;
    font-size: 26px;
}

.rating {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.favorite {
    text-align: center;
}

.favorite button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.star-icon {
    font-size: 1.7em;
}

.comment-icon {
    font-size: 2em;
}

.review {
    margin-left: 50px;
    text-align: center;
}

.comment-board {
    width: 100%;
}

.seller {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 0;
}

.seller-comment {
    display: flex;
    align-items: center;
}

.seller-comment .comment {
    width: 70%;
    padding: 5px 0;
}

.seller-comment button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #00f;
    color: #fff;
    border: 1px solid #00f;
    border-radius: 5px;
    font-size: 14px;
}


.buyer {
    display: flex;
    margin: 20px 0 0;
}

.user-name {
    margin-left: 30px;
}

.comment {
    background-color: #ddd;
}

.input-board {
    margin: 50px 0 0;
}

.input-board textarea {
    width: 100%;
    border-radius: 5px;
}

.input-board button {
    width: 100%;
    background-color: #f33;
    color: #fff;
    border: 1px solid #f33;
    border-radius: 5px;
}